.footer {
    background-color: #161722;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    align-items: begin;
}

.footer .footer-brand {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer .footer-brand h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
    color: #FFD0A0;
}

.footer .footer-brand p {
    font-size: 10px;
    font-weight: 300;
    margin-top: 0;
}

.footer .footer-brand .contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-top: 12px;
    line-height: 14px;
    margin-top: 1rem;
}


.footer .footer-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.footer .footer-links h2 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: .5rem;
}

.footer .footer-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: .5rem;
}

.footer .footer-links a:hover {
    color: #FFD0A0;
}

.footer .footer-links a:active {
    color: #FFD0A0;
}

.footer .footer-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .footer-socials h2 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: .5rem;
}

.footer .footer-socials .footer-socials-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-socials .footer-socials-item a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    margin: .5rem;
}

.footer .footer-socials .footer-socials-item a:hover {
    color: #FFD0A0;
}

.footer .footer-subscription {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.footer .footer-subscription h2 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: .5rem;
}

.footer .footer-subscription p {
    font-size: 12px;
    color: #ffffff;
    margin-bottom: .5rem;
}

.footer .footer-subscription form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
    gap: 10px;
    margin-top: 20px;
}

.footer .footer-subscription form input {
    padding: 10px;
    margin-bottom: .5rem;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

.footer .footer-subscription form button {
    position: relative;
    width: fit-content;
    height: 100%;
    padding: 10px 20px;
    margin-bottom: .5rem;
    background-color: #FFD0A0;
    color: #161722;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .footer-subscription form button:hover {
    background-color: #161722;
    color: #FFD0A0;
}