/* Hero Section */
.hero {
    background: url('/hero.jpg') no-repeat center center/cover;
    height: 80vh; /* Half of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

/* Hero text style */
.hero .hero-text {
    width: 60vw;
    position: absolute;
    left: 0;
    z-index: 2; 
    padding: 5rem;
    border-radius: 0.25rem;
    text-align: center; 
    display: flex;
    flex-direction: column;

}

.hero .hero-text > p {
    font-size: 1.8rem;
    color: #fff;
    text-align: start;
}

.hero .hero-text > h1 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 4.2rem;
    text-align: start;
    text-transform: uppercase;
    margin-top: 1rem;
}

.hero .hero-text > a {
    display: inline-block;
    padding: .5rem 1rem;
    margin-top: 1rem;
    background-color: #FFD2A4;
    color: #000000;
    font-size: .9rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.25rem;
    transition: background-color 0.3s;
    width: fit-content;
}